@import './config.less';

.cards {
  position: relative;

  padding-top: 21rem;
  padding-bottom: 30rem;

  &:before {
    .fit;
    content: '';

    display: block;

    top: 121rem;

    background-color: #fafafa;
  }

  @media (min-width: @tablet) {
    padding-top: 59rem;
    padding-bottom: 54rem;

    &:before {
      top: 215rem;
    }
  }
}

.cards__container {
  .container;

  position: relative;
}

.cards__heading {
  margin-bottom: 10rem;

  @media (min-width: @tablet) {
    margin-bottom: 18rem;

    h4 {
      margin-bottom: 2rem;
    }
  }
}


.cards__list {
  .reset-list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 15rem;

  @media (min-width: @tablet) {
    margin-bottom: 25rem;
  }
}

.cards__item {
  margin-bottom: 10rem;

  width: 204.5rem;

  background-color: #fff;

  box-shadow: 0 3rem 9rem -1rem rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet) {
    margin-bottom: 15rem;
  }
}

.cards__image {
  margin-bottom: 8rem;

  width: 100%;

  @media (min-width: @tablet) {
    margin-bottom: 11.5rem;
  }
}

.cards__date {
  margin-bottom: 2rem;

  width: 100%;

  font-size: 6rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #9b9b9b;

  @media (min-width: @tablet) {
    font-size: 10rem;
  }

  @media (min-width: @desktop) {
    font-size: 7rem;
  }
}

.cards__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  margin: 0 9.5rem 8.8rem;

  @media (min-width: @tablet) {
    margin: 0 12.8rem 12.8rem;
  }
}

.cards__link {
  .reset-anchor;

  font-size: 7rem;
  font-weight: normal;
  text-decoration: none;
  color: #e3cdb1;

  transition: color @hover-transition;

  &:hover {
    color: darken( #e3cdb1, 20%);
  }

  @media (min-width: @tablet) {
    font-size: 11rem;
  }

  @media (min-width: @desktop) {
    font-size: 8rem;
  }
}

.cards__button {
  display: inherit;

  margin: 0 auto;

  @media (min-width: @tablet) {

    &:before {
      content: '';

      display: block;

      position: absolute;
      left: 78.5rem;

      margin-top: 5rem;

      height: 1rem;
      width: 220rem;

      background-color: #e7e7e7;
    }

    &:after {
      content: '';

      display: block;

      position: absolute;
      right: 78.5rem;

      margin-top: -4rem;

      height: 1rem;
      width: 220rem;

      background-color: #e7e7e7;
    }
  }
}
