@import './config.less';

.hero {
  .container;

  height: 275rem;

  background-image: url('../images/hero-bg-2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;

    height: 400rem;

    background-position: right;
  }
}

.hero__container {
  position: relative;
  top: 65rem;

  margin: 0 auto;

  h1 {
    margin-bottom: 10.5rem;
  }

  p {
    display: none;

    margin-bottom: 15rem;
  }

  button {
    display: block;

    margin: 0 auto;
  }

  @media (min-width: @tablet) {
    position: static;

    margin: 0;

    width: 274rem;

    p {
      display: block;
    }

    button {
      margin: 0;
    }
  }
}
